API_ID=36191326
API_HASH=db41b3636e96ac3ae96561010f0ceeca

BOT_TOKEN=8955903567:AAEtDE7IbhtMBHw2v4uwIQnkp-vPZlMyu7I

MONGO_URI=mongodb+srv://Shiva:Shiva@shiva.j1zhm24.mongodb.net/?appName=Shiva

FORCE_CHANNEL=https://t.me/savicommunity

STORAGE_CHANNEL=-1003773475761
